/* Reset default margin and padding */
body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    /*background-color: #000;*/
    color: #fff;
}

header {
    background-color: #8b0000;
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: #000;
}

ul {
    list-style-type: none;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #900;
}

main {
    padding: 20px;
    color: #000;
}

.custom-button {
    background-color: darkred;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.custom-div{
    border: 1px solid grey;
    border-radius: 4px;
}

.resultContainer {
    margin: 5px;
    padding: 5px;
}

.input-container {
    display: flex;
    flex-direction: column;
}

input[type="text"] {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

section {
    margin-bottom: 20px;
}

.intro {
    text-align: center;
    margin-top: 30px;
    border: 3px solid black;
    border-radius: 4px;
    padding: 10px;
}

.error {
    color: red;
    font-size: small;
}

footer {
    background-color: #8b0000;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
}

.custom-footer {
    background-color: #8b0000;
    text-align: center;
    color: #fff;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}
